
.descending-cards {
    .flex(space-between, @direction: column);
    position: relative;
    z-index: 1;

    .card {
        background-color: #fff;
        .gutters-margin();
        padding: 0 3.4rem 3rem;
        margin-bottom: 100px;

        .card-icon {
            height: 80px;
            width: 80px;
            position: relative;
            top: -40px;
            background-color: @darkviolet;
            padding: 20px;
            border-radius: 100%;
        }
    }

    .card:not(:last-child)::after {
        content: '';
        position: absolute;
        display: inline-block;
        height: 160px;
        border: 4px solid @cyan;
        z-index: -1;
    }

    .card:last-child {
        margin-bottom: 75px;
    }

}